:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
  }

  :host::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/images/tv-storage.jpeg') no-repeat center center/cover; // Notice the leading slash
    background-size: cover;
    background-position: center;
    opacity: 1.0; /* Adjusted opacity */
    z-index: -1;
   filter: blur(0.7px); /* Optional: adds a blur effect */
  }
