<div class="sidebar" [ngClass]="{'open': isOpen, 'closed': !isOpen}">
  <div class="sidebar-menu">
    <h3>Menu</h3>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">
          <fa-icon [icon]="faHome"></fa-icon> Home
        </a>
      </li>
      <li>
        <a (click)="toggleProfile()" routerLinkActive="active-link">Profile</a>
      </li>
      <li>
        <a (click)="toggleAbout()" routerLinkActive="active-link">About Us</a>
      </li>
      <li>
        <a (click)="toggleHelp()" routerLinkActive="active-link">Help</a>
      </li>
      <li>
        <a (click)="toggleContact()" routerLinkActive="active-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
