<div class="sidebar" [ngClass]="{'open': isOpen, 'closed': !isOpen}">
  <div class="sidebar-menu">
    <h3>Menu</h3>
    <ul>
      <li>
        <a routerLink="/" class="active">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/celebrities">
          <fa-icon [icon]="faStar"></fa-icon>
          Celebrities
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-library">
    <h3>Library</h3>
    <ul>
      <!-- Top Rated Dropdown -->
      <li (click)="toggleRatingSelection()">
        <a href="javascript:void(0)">
          <fa-icon [icon]="faStar"></fa-icon> Top Rated
        </a>
      </li>
      <div *ngIf="showRatingSelection" class="dropdown-list">
        <ul>
          <li *ngFor="let rating of ratings" class="dropdown-item">
            <label>
              <input
                type="radio"
                name="rating"
                (change)="toggleRating(rating.value)"
                [checked]="selectedRatings === rating.value"
              />
              <span>{{ rating.label }}</span>
            </label>
          </li>
        </ul>
      </div>

      <!-- Languages Dropdown -->
      <li (click)="toggleLanguageSelection()">
        <a href="javascript:void(0)">
          <fa-icon [icon]="faLanguage"></fa-icon> Languages
        </a>
      </li>
      <div *ngIf="showLanguageSelection" class="dropdown-list">
        <ul>
          <li *ngFor="let language of languages" class="dropdown-item">
            <label>
              <input
                type="checkbox"
                (change)="toggleLanguage(language)"
                [checked]="selectedLanguages.includes(language)"
              />
              <span>{{ language }}</span>
            </label>
          </li>
        </ul>
      </div>

       <!-- Profile Link -->
       <li>
        <a routerLink="/profile">
          <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
        </a>
      </li>
    </ul>
  </div>
</div>
