<div class="sidebar" [ngClass]="{'open': isOpen, 'closed': !isOpen}">
  <div class="sidebar-menu">
    <h3>Menu</h3>
    <ul>
      <li>
        <a routerLink="/home" class="active">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/celebrities">
          <fa-icon [icon]="faStar"></fa-icon>
          Celebrities
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-library">
    <h3>Library</h3>
    <ul>
      <li><a routerLink="/top-rated"><fa-icon [icon]="faStar"></fa-icon> Top Rated</a></li>
      <li><a routerLink="/wishlist"><fa-icon [icon]="faHeart"></fa-icon> Wishlist</a></li>
      <li (click)="toggleLanguageSelection()">
        <a href="javascript:void(0)">
          <fa-icon [icon]="faLanguage"></fa-icon> Languages
        </a>
      </li>
    </ul>

    <!-- Language Selection Dropdown -->
    <div *ngIf="showLanguageSelection" class="language-selection">
      <ul>
        <li *ngFor="let language of languages" class="language-item">
          <label>
            <input
              type="checkbox"
              (change)="toggleLanguage(language)"
              [checked]="selectedLanguages.includes(language)"
            />
            <span>{{ language }}</span> <!-- Wrap text in a span for styling -->
          </label>
        </li>
      </ul>
    </div>


  <div class="sidebar-general">
    <h3>General</h3>
    <ul>
      <li><a routerLink="/settings"><fa-icon [icon]="faCog"></fa-icon> Settings</a></li>
      <li><a routerLink="/logout"><fa-icon [icon]="faSignOutAlt"></fa-icon> Log Out</a></li>
    </ul>
  </div>
</div>
