@import "../../../../styles.scss";

// Define color variables for easier updates and styling
$text-color: #fff;         // Main text color
$muted-color: #b0b0b0;     // Muted text color for headings

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 10; // Sidebar above the footer

  // Menu section
  &-menu {
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      color: $muted-color;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 15px;

        a {
          color: $text-color;
          text-decoration: none;
          font-size: 16px;
          display: flex;
          cursor: pointer;
          align-items: center;
          transition: color 0.3s ease;

          fa-icon, i {
            margin-right: 10px;
            font-size: 18px;
          }

          &.active,
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// Sidebar open and closed states
.open {
  transform: translateX(0); // Show sidebar
}

.closed {
  transform: translateX(-100%); // Hide sidebar off-screen
}

// Footer styles
.footer {
  background-color: #1d1d1d;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 0.9rem;
  z-index: 5; // Ensure it appears below the sidebar

  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

// Responsive adjustments for smaller screens
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
