<div class="w-full flex justify-center flex-wrap">
  <!-- right side  -->
    <div class="w-3/4 p-1 flex flex-col gap-2">
      <!-- top -->
      <div class="w-full bg-green-300 h-96"><h1 class="text-center text-gray-900 text-2xl">😂😂😂😂 Sorry team i fix it soon ......</h1></div>
      <!-- bottom -->
      <div class="w-full bg-green-900 h-44"></div>
    </div>
    <!-- left side  -->
    <div class="w-1/4  min-h-8 flex flex-col gap-2 items-center p-1 justify-between">
       <div class="w-full bg-red-600 h-44"></div>
       <div class="w-full bg-red-600 h-44"></div>
       <div class="w-full bg-red-600 h-44"></div>
    </div>
</div>