.home-page {
  text-align: center;
  padding: 50px;

  h1 {
    color: #ffae00;
    font-size: 36px;
  }

  p {
    font-size: 18px;
    margin: 20px 0;
  }

  .btn {
    background-color: #ffae00;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
}
.containers {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  .right-side {
    width:75%; // Equivalent to w-3/4
    padding:0.2rem; // Equivalent to p-1
    display: flex;
    flex-direction: column;
    gap: 0.5rem; // Equivalent to gap-2

    .top {
      width: 100%;
      height: 24rem; // Equivalent to h-96

      h1 {
        text-align: center;
        color: #111827; // Equivalent to text-gray-900
        font-size: 1.5rem; // Equivalent to text-2xl
      }
    }

    .bottom {
      width: 100%;
      background-color: #134e4a; // Equivalent to bg-green-900
      height:18rem; // Equivalent to h-44
    }
  }

  .left-side {
    width: 25%; // Equivalent to w-1/4
    min-height: 2rem; // Equivalent to min-h-8
    display: flex;
    flex-direction: column;
    gap: 0.5rem; // Equivalent to gap-2
    align-items: center;
    padding: 0.2rem; // Equivalent to p-1
    justify-content: space-between;

    .box {
      width: 100%;
      background-color: #dc2626; // Equivalent to bg-red-600
      height: 13rem; // Equivalent to h-44
    }
  }
}
