
  <app-custom-carousel></app-custom-carousel>
  <!-- top -->
  <div class="containers">
    <!-- right side  -->
    <div class="right-side">
      <!-- top -->
      <div class="top">
        <app-custom2carousel></app-custom2carousel>
      </div>
      <!-- bottom -->
      <div class="bottom">
        
      </div>
    </div>
    
    <!-- left side  -->
    <div class="left-side">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>



