@if(cart$|async; as  cart){
    <div class="cart-container">
      <h1 class="cart-title">Shopping Cart</h1>
      <div *ngIf="cart.length > 0; else emptyCart"> 
          <div class="cart-item" *ngFor="let item of cart">
            <div class="cart-item-content">
              <div class="cart-item-image">
                <img [src]="item.src" alt="{{ item.name }}" />
              </div>
              <!-- Item details on the right  -->
               <div class="cart-item-details">
                <h2>{{ item.name }}</h2>
              <div class="cart-item-rating">
                <i class="fas fa-star" *ngFor="let star of getStars(item.rating)"></i>
                <i class="far fa-star" *ngFor="let star of getStars(5 - floorval(item.rating))"></i>
              </div>
              <div>
                <div class="cart-actions">
                  <div class="quantity-control">
                    <button *ngIf="item.quantity > 1" class="quantity-btn" (click)="updateQuantity(item,false)">-</button>
                    <button *ngIf="item.quantity == 1" class="quantity-btn trash-btn" (click)="removeFromCart(item)"><i class="fa-solid fa-trash"></i></button>
                    <input type="number" readonly class="quantity-input" placeholder="{{ item.quantity }}" />
                    <button class="quantity-btn" (click)="updateQuantity(item,true)">+</button>
                  </div>
                 </div>
                <p class="cart-item-price">₹{{ item.price }}</p>
              </div>   
            </div>
            </div>
            </div>
            <div class="cart-summary">
              <p class="subtotal">Subtotal ({{ CartCount() }} items): ₹{{ subTotal() | number: '1.0-0' }}</p>
            </div>
            <div class="checkout-wrapper">
              <button class="checkout-btn" [disabled]="CartCount() === 0" (click)="proceedToCheckout()">
                Proceed to Checkout
              </button>
            </div>
            </div>
            </div>
  }  
<ng-template #emptyCart>
  <div class="empty-cart">
    <p>Your cart is empty.</p>
    <a routerLink="/movies" class="back-link">Continue Shopping</a>
  </div>
</ng-template>