<div class="auth-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="someone@example.com" required />
      <div *ngIf="submitted && f['email'].errors" class="error-message">
        <div *ngIf="f['email'].errors['required']">Email is required.</div> <!-- Access with bracket notation -->
        <div *ngIf="f['email'].errors['email']">Email is invalid.</div> <!-- Access with bracket notation -->
      </div>
    </div>

    <button type="submit" class="btn">Send Reset Link</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</div>
